/*
 *	Buttons
 */
.button {
	display: inline-block;
	position: relative;
	
	
	// Button Styles...


	// Optional min-width
	&.mw {
		min-width: 125px;
	}

}

// Add half a gutter width margin to x axis for buttons that are next to each other. 
.button.gutter-spacing, .gutter-spacing .button {
	margin-left: calc(var(--gutter-width)/2);
	margin-right: calc(var(--gutter-width)/2);
}
