/*
 *	Typography
 */


// Variables
////////////////////////////////////////////////////////////////////////

// $header: ;
// $copy: ;


// Global
////////////////////////////////////////////////////////////////////////
body, p, p a, label, input, textarea,
h1, h2, h3, h4, h5 {
	position: relative;
	margin: 0;
	padding: 0;
	color: $black;
}

strong { font-weight: bold }


// Copy
////////////////////////////////////////////////////////////////////////
body, p, p a, label, input, textarea {

}

p {
	padding-bottom: 20px;
}


// Headers
////////////////////////////////////////////////////////////////////////
h1, h2, h3, h4, h5, h6 {

}


// ULs
////////////////////////////////////////////////////////////////////////
ul {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

