/*
 *	Float / Clear
 */
.left { float: left; }
.right { float: right; }

.clear { clear: both; }
.clear-after:after {
    content: "";
    display: table;
    position: relative;
    clear: both;
}


/*
 *	Background Size Cover
 */
@mixin backgroundCover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.bg-cover { @include backgroundCover }


/*
 *	Background Size Contain
 */
@mixin backgroundContain {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.bg-contain { @include backgroundContain }

// Background Cover on Rows and Columns
.row, div[class*="col-"] {
	@include backgroundCover;
}


/*
 *	Background Alignment (X-Axis) Overwrites
 */
.bg-align-left { background-position: left center !important }
.bg-align-right { background-position: right center !important }
.bg-align-center { background-position: center center !important }
@include breakpoint-sm {
	.bg-align-left-sm { background-position: left center !important }
	.bg-align-right-sm { background-position: right center !important }
	.bg-align-center-sm { background-position: center center !important }	
}
@include breakpoint-md {
	.bg-align-left-md { background-position: left center !important }
	.bg-align-right-md { background-position: right center !important }
	.bg-align-center-md { background-position: center center !important }	
}
@include breakpoint-lg {
	.bg-align-left-lg { background-position: left center !important }
	.bg-align-right-lg { background-position: right center !important }
	.bg-align-center-lg { background-position: center center !important }	
}
@include breakpoint-xl {
	.bg-align-left-xl { background-position: left center !important }
	.bg-align-right-xl { background-position: right center !important }
	.bg-align-center-xl { background-position: center center !important }	
}


/*
 *	Fit Image To Container
 */
@mixin fit {
	display: block;
	position: relative;
	width: 100%;
	height: auto;	
}
img.fit, .fit img { @include fit }

